@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@using FOS.Website.Feature.Summary
@using FOS.Website.Feature.Summary.Models
@using Sitecore.ExperienceContentManagement.Administration.Helpers.SupportPackage.Diagnostics.Base
@using Sitecore.Links
@using Sitecore.Resources.Media
@using Synthesis.Mvc.Extensions

@model SummarySpotModel

<div> SummarySpot </div>


<div class="spot-basic">
    <div class="spot-wrapper">

        @*@Html.Raw(Model.InvalidModelText)*@

        <div class="spot-header">
            @if (Model.SummaryItem.SummaryHeading.HasValue)
            {

                <a href="@LinkManager.GetItemUrl(Model.SummaryItem.InnerItem, new UrlOptions(){LanguageEmbedding = LanguageEmbedding.Never})">
                    <h2 class="spot-header-title">
                        @Model.SummaryItem.SummaryHeading.Render(false)
                    </h2>
                </a>
            }
        </div>
        @if (Model.SummaryItem.SummaryImage.HasValue)
        {
            <a href="@LinkManager.GetItemUrl(Model.SummaryItem.InnerItem)">

                @{
                    
                    if(Model.SummaryItem.SummaryImage.HasValue && Model.SummaryItem.SummaryImage.MediaItem != null && Model.SummaryItem.SummaryHeading.HasValue)
                    {
                        <img src="@MediaManager.GetMediaUrl(Model.SummaryItem.SummaryImage.MediaItem)?w=400&h=250&useCustomFunctions=1&centerCrop=1" alt="@Model.SummaryItem.SummaryHeading.Render())" class="spot-basic_image">
                    }
                    else if (Model.SummaryItem.SummaryImage.HasValue && Model.SummaryItem.SummaryImage.MediaItem != null)
                    {
                        <img src="@MediaManager.GetMediaUrl(Model.SummaryItem.SummaryImage.MediaItem)?w=400&h=250&useCustomFunctions=1&centerCrop=1" class="spot-basic_image">
                    }
                }

                <div class="spot-basic_image-overlay"></div>
            </a>
        }

        @if (Model.SummaryItem.SummaryText.HasValue)
        {
            <div class="spot-basic_content-wrapper">
                <p class="spot-basic_content">
                    @Model.SummaryItem.SummaryText.Render() 
                </p>
                @*@if (!string.IsNullOrWhiteSpace(Model.SummaryLink.Text))
                {
                    <a href="@Model.SummaryLink.Linkurl" class="spot-basic_readmore">@Model.SummaryLink.Text</a>
                }*@
            </div>
        }

    </div>
</div>
