@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@using FOS.Website.Feature.Summary
@using FOS.Website.Feature.Summary.Models
@using Sitecore.ExperienceContentManagement.Administration.Helpers.SupportPackage.Diagnostics.Base
@using Sitecore.Links
@using Sitecore.Resources.Media
@using Synthesis.Mvc.Extensions

@model SummarySpotModel

@* SUMMARY&/TEASER/KICKER - FOR ARTICLE / HERO PAGE *@
@{
    //temporary news/events
    var news = false;
    var events = false;
}
<div class="container">
    <div class="container--12">

        <div class="teaser teaser--full">
            @if (Model.SummaryItem.SummaryImage.HasValue)
            {

                if (Model.SummaryItem.SummaryImage.HasValue && Model.SummaryItem.SummaryImage.MediaItem != null && Model.SummaryItem.SummaryHeading.HasValue)
                {
                    <img src="@MediaManager.GetMediaUrl(Model.SummaryItem.SummaryImage.MediaItem)" alt="@Model.SummaryItem.SummaryHeading.Render(false)">
                }
                else if (Model.SummaryItem.SummaryImage.HasValue && Model.SummaryItem.SummaryImage.MediaItem != null)
                {
                    <img src="@MediaManager.GetMediaUrl(Model.SummaryItem.SummaryImage.MediaItem)">
                }
            }
            <div class="teaser__content">
                @if (Model.SummaryItem.SummaryHeading.HasValue)
                {
                    <h3 class="heading-5">
                        @Model.SummaryItem.SummaryHeading.Render()
                    </h3>
                }
                @if (news)
                {
                    <p><small class="date icon--mini icon__event">2014 01 22</small></p>
                    <p><small class="date icon--mini  icon__pin-map">Ölandsgatan 38</small></p>
                }
                @if (events)
                {
                    <p><small class="date">25 augusti 2017</small></p>
                }
                @if (Model.SummaryItem.SummaryText.HasValue)
                {
                    <p>
                        @Model.SummaryItem.SummaryText.Render()
                    </p>
                    // TODO: Remove hard coded "Läs mer" text and make it translatable
                    <a class="link--goto" href="@LinkManager.GetItemUrl(Model.SummaryItem.InnerItem, new UrlOptions() {LanguageEmbedding = LanguageEmbedding.Never})">
                        Läs mer
                    </a>
                }
            </div>
        </div>
    </div>
</div>
