@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using FOS.Website.Feature.Navigation.Data
@using Sitecore.Mvc.Presentation
@using FOS.Website.Feature.Navigation.Models
@using Google.Apis.Util
@using Sitecore.Data.Items
@using Sitecore.Links
@using Synthesis
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model BreadCrumbModel

@if (Model == null || Model.BreadCrumbsPages == null || Model.BreadCrumbsPages.Count() < 2)
{
    return;
}

@functions
{
    string GetBreadCrumbLabel(Item page)
    {
        var navPage = page.As<INavigationDataItem>();
        return (navPage != null && navPage.Navigation_NavigationTitle.HasValue) ? navPage.Navigation_NavigationTitle.RawValue : page.DisplayName;
    }
}

@helper BreadcrumbsMobile()
{
    var immediateParent = @Model.BreadCrumbsPages.ElementAt(1);
    <li><a href="@LinkManager.GetItemUrl(@immediateParent)">@GetBreadCrumbLabel(immediateParent)</a></li>
}

@helper BreadCrumbsDesktop()
{
    var breadCrumbsCount = Model.BreadCrumbsPages.Count();
    for (var i = 1; i < breadCrumbsCount; i++)
    {
        var page = @Model.BreadCrumbsPages.ElementAt(breadCrumbsCount - i);
        <li><a href="@LinkManager.GetItemUrl(@page)">@GetBreadCrumbLabel(page)</a></li>
    }
    <li>@GetBreadCrumbLabel(@Model.BreadCrumbsPages.First())</li>
}


<nav class="breadcrumbs">
    <ol class="hidden-medium-up">
        @BreadcrumbsMobile()
    </ol>
    <ol class="visible-medium-up">
        @BreadCrumbsDesktop()
    </ol>
</nav>

