@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using FOS.Website.Feature.Navigation.Data
@using Sitecore.Mvc.Presentation
@using FOS.Website.Feature.Navigation.Models
@using Sitecore.Data.Items
@using Sitecore.Links
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model NavigationFooterAssociation
@if (Model == null)
{
    return;
}
@helper AddLinkLine(INavigationDataItem linkItem)
{
var pageItem = linkItem.InnerItem;
if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    var displayName = ((linkItem.Navigation_NavigationTitle.RawValue.IsEmpty() || linkItem.Navigation_NavigationTitle.RawValue.Equals("$name")) ? "(" + pageItem.DisplayName + ")" : "");
    if (displayName.IsEmpty())
    {
            <li><a href="@LinkManager.GetItemUrl(pageItem)"> @linkItem.Navigation_NavigationTitle.Render()</a></li>
    }
    else
    {
            <li><a href="@LinkManager.GetItemUrl(pageItem)"> @linkItem.Navigation_NavigationTitle.Render() @displayName</a></li>
    }

}
else
{
    var menuLabel = linkItem.Navigation_NavigationTitle.HasValue ? linkItem.Navigation_NavigationTitle.RawValue : pageItem.DisplayName;
            <li><a href="@LinkManager.GetItemUrl(pageItem)" >@menuLabel</a></li>
    }
}
<div class="footer__navigation">
    <div class="container">
        <div class="container--3">
            <ul class="footer__navigation--primary">
                @foreach (var navigationDataItem in Model.PrimaryMenuItems)
                {
                    @AddLinkLine(navigationDataItem)
                }
            </ul>
        </div>
        <div class="container--3">
            <ul class="footer__navigation--secondary">
                @foreach (var navigationDataItem in Model.MoreMenuItems)
                {
                    @AddLinkLine(navigationDataItem)
                }
            </ul>
        </div>
        <div class="container--6 center-small-down">
            @if (Sitecore.Context.PageMode.IsExperienceEditor || !Model.AssociationFooterLinks.BecomeAMemberLink.Href.IsEmpty())
            {
                using (Html.BeginHyperlinkFor(m => m.AssociationFooterLinks.BecomeAMemberLink, "icon__background icon__background--large icon__card"))
                 {
                     <h2 class="heading-4">@Model.AssociationFooterLinks.BecomeAMemberTitle.Render()</h2>
                     <p>@Model.AssociationFooterLinks.BecomeAMemberText.Render()</p>
                 }
            }
            @if (Sitecore.Context.PageMode.IsExperienceEditor || !Model.AssociationFooterLinks.BecomeAFunkisLink.Href.IsEmpty())
            {
                using (Html.BeginHyperlinkFor(m => m.AssociationFooterLinks.BecomeAFunkisLink, "icon__background icon__background--large icon__funkis"))
                {
                    <h2 class="heading-4">@Model.AssociationFooterLinks.BecomeAFunkisTitle.Render()</h2>
                    <p>@Model.AssociationFooterLinks.BecomeAFunkisText.Render()</p>
                }

            }
        </div>
    </div>
</div>
