
@using FOS.Website.Feature.Content.Models
@using Synthesis.Mvc.Helpers
@model AssociationIntroductionModuleModel

@if (Model.AssociationIntroductionModuleItem == null)
{
    return;
}
<div class="container--relative">
    <div class="introduction">
        <div class="introduction__container">
            <div class="introduction__pitch">
                <h2 class="heading-3">@Html.TextFor(m => m.AssociationIntroductionModuleItem.IntroTitle)</h2>
                <p>@Html.TextFor(m => m.AssociationIntroductionModuleItem.IntroBody)</p>
                <a href="@Model.AssociationIntroductionModuleItem" class="link--goto"> @Html.TextFor(m => m.AssociationIntroductionModuleItem.IntroLinkLabel) </a>
            </div>
            <div class="introduction__goto">
                <a href="@Model.AssociationIntroductionModuleItem.TrainingSelectionLink"><span class="introduction__icon introduction__icon--training-classes"></span>@Model.label_TrainingSelection</a>
                <a href="@Model.AssociationIntroductionModuleItem.GymsLink"><span class="introduction__icon introduction__icon--traning-center"></span>@Model.label_TrainingCenter</a>
                <a href="@Model.AssociationIntroductionModuleItem.BecomeMemberLink"><span class="introduction__icon introduction__icon--prices"></span>@Model.label_Prize</a>
                <a href="@Model.AssociationIntroductionModuleItem.ScheduleLink"><span class="introduction__icon introduction__icon--schedule"></span>@Model.label_Schedule</a>
            </div>
            <div class="introduction__member">
                <a href="@Model.AssociationIntroductionModuleItem.BecomeMemberLink">
                    <h1 class="heading-5">@Model.label_AssociationGreetingCardName</h1>
                    <img src="/assets/images/icon_card.svg" alt="image of Friskis & Svettis training card" />
                    <h2 class="heading-4">@Html.TextFor(m => m.AssociationIntroductionModuleItem.BecomeMemberKickerBody)</h2>
                </a>
            </div>
        </div>
    </div>
</div>
