
@using FOS.Website.Feature.Content.Models
@using Sitecore.Links
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model AssociationTopBarModel

@if (Model.TopBarData == null)
{
    return;
}


<div class="navigation--top">
    <div class="container">
        <div class="container--12">
            <a href="@LinkManager.GetItemUrl(@Model.AssociationItem)">F&S @Model.AssociationItem.DisplayName</a>
            @Model.TopBarData.TopbarLink1.Render(null, "visible-on-large-up")
            @Model.TopBarData.TopbarLink2.Render(null, "visible-on-large-up")
            @Model.TopBarData.TopbarLink3.Render(null, "visible-on-large-up")
            @Model.TopBarData.TopbarLink4.Render(null, "visible-on-large-up")
            <a href="@LinkManager.GetItemUrl(@Model.TopBarData.InnerItem)">@Model.TopBarData.HomeLinkLabel.Render()</a>
        </div>
    </div>
</div>
