
@using FOS.Website.Feature.Content.Models
@using Sitecore.Links
@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model AssociationNotMigratedModel

@if (Model.GeneralData == null || Model.AssociationCheckWidget == null)
{
    return;
}
@if (!Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="message container--relative">
        <div class="message--overlay">
            <div class="message__content">
                <img src="/assets/images/friskis_logo.svg" alt="Friskis & Svettis logo" />
                <h1 class="heading-3">
                    @Model.GeneralData.TextForNewAssociation.Render()
                </h1>
                <p>@Model.AssociationCheckWidget.LinkToExistingPage.Render(@Model.label_Button, "btn btn--secondary btn__link btn__icon btn__icon--right btn--external-link")</p>
                <a href="@LinkManager.GetItemUrl(@Model.GeneralData.InnerItem)" class="link--inverted">@Model.GeneralData.LinkToStartPageLabel.Render()</a>
            </div>
        </div>
    </div>
}
