@using Sitecore.Mvc
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Services.Core.ComponentModel
@using Sitecore.Web.UI.WebControls
@using Synthesis.Mvc.Helpers

@model FOS.Website.Feature.Content.Models.FTestPageModel
@{
    Layout = null;

}

<div><strong>[Fredrik TestPage View]</strong></div>


<div>
    <br />
    <div style="border: 4px solid red">
        <div><strong>[TestContentPlaceholder]</strong></div>

        @Html.Sitecore().Placeholder("TestContent")
    </div>
</div>

<div>
    <br />
    <div><strong>TestPageDate:&nbsp;</strong></div>
    @Html.DateTimeFor(m => m.TestPageItem.TestPageDate,"yyyy/MMMM - hh-mm-ss")
</div>

<div>
    <br />
    <div><strong>TestPageGeneralLink:&nbsp;</strong></div>
    @Html.HyperlinkFor(m => m.TestPageItem.TestPageGeneralLink)
    <br/>
    <div><strong>CustomLinkText and CustomCssClass</strong></div>
    <br/>
    @Html.HyperlinkFor(m => m.TestPageItem.TestPageGeneralLink,"CustomLinkText", "CustomCssClass")
    <br/>
    <div><strong>Link Text From Other Sitecore Text Field and CustomCssClass</strong></div>
    <br/>
    @Html.HyperlinkFor(m => m.TestPageItem.TestPageGeneralLink, Model.TestPageItem.TestPageText.RawValue, "CustomCssClass")
    
    <div>
        <br />
        <div><strong>HyperLink surrounding Image</strong></div>
        <div>
            @using (Html.BeginHyperlinkFor(m => m.TestPageItem.TestPageGeneralLink,"TestClassName"))
            {
                @Html.ImageFor(m => m.TestPageItem.TestPageImage)

                //AddProperty fails
                @*@Html.ImageFor(m => m.TestPageItem.TestPageImage).AddProperty("DisableWebEdit", true)*@
            }
        </div>
    </div>
    
</div>

<div>
    <br />
    <div><strong>TestPageImage:&nbsp;</strong></div>
    <br/>
    @Html.ImageFor(m => m.TestPageItem.TestPageImage)
    <br/>
    <div><strong>Height, Width and CssClass parameters</strong></div>
    <br/>
    @Html.ImageFor(m => m.TestPageItem.TestPageImage, 400,200, "CustomCssClass")
    <br />
    <div><strong>Nulling some parametes</strong></div>
    <br/>
    @Html.ImageFor(m => m.TestPageItem.TestPageImage, null, null, "")
</div>

<div>
    <br />
    <div><strong>TestPageRichText:&nbsp;</strong></div>
    <br/>
    @Html.TextFor(m => m.TestPageItem.TestPageRichText)
</div>

<div>
    <br />
    <div><strong></strong></div>
    TestPageText:&nbsp;
    <br/>
    @Html.TextFor(m => m.TestPageItem.TestPageText)
</div>

<div>
    <br />
    <div><strong></strong></div>
    String from Model
    <br/>
    @Model.TestPageString
</div>












