
@using FOS.Website.Feature.Content.Models
@using Sitecore.ContentSearch.Linq.Extensions
@using Sitecore.Links
@using Synthesis.Mvc.Helpers
@model HeroObjectImageModel
    
@if (Model.HeroObjectImageItem == null)
{
    return;
}

@helper GetHeroObjectMarkup()
{
    @Html.ImageFor(m => m.HeroObjectImageItem.HeroImage)
    <div class="hero__container">
        <div class="hero__content hero__content--effect">
            <div class="container">
                <div class="container--12">
                    <h2>@Html.TextFor(m => m.HeroObjectImageItem.Title)</h2>
                    <p>@Html.TextFor(m => m.HeroObjectImageItem.Description)</p>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div class="hero">
        @if(Sitecore.Context.PageMode.IsExperienceEditor || Model.HeroObjectImageItem.Link.HasValue)
        {
            using (Html.BeginHyperlinkFor(m => m.HeroObjectImageItem.Link, "hero__link"))
            {
                @GetHeroObjectMarkup()
            }
        }
        else
        {
            @GetHeroObjectMarkup()
        }
    </div>
</div>