@using Sitecore.Mvc
@using FOS.Website.Feature.Content.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Sitecore.Mvc.Presentation
@using Synthesis.Mvc.Helpers
@model TrainingCenterCollectionMapModel
<div style="background-color: green; color: white">
    @foreach (var mapNode in Model.MapNodes)
    {
        <h3>@mapNode.MapHeadline</h3>
        <p>
            @mapNode.Street @mapNode.StreetNr <br />
            @mapNode.ZipCode @mapNode.City
            @mapNode.Country
        </p>
            <p>
                Longitude: @mapNode.Longitude <br />
                Latitude: @mapNode.Latitude
            </p>
    }
</div>



