@using Synthesis.Mvc.Extensions
@using Synthesis.Mvc.Helpers
@model FOS.Website.Feature.ContentBlocks.Models.ImageAndRichTextModel

@if (Model == null || Model.RichTextItem == null)
{
    return;
}

@if (Model.HeadingItem != null && Model.HeadingItem.Heading1.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
{
    @Html.Partial("~/Feature/ContentBlocks/Views/Heading.cshtml", Model)
}

@helper RenderImage()
{
    <div class="container--6">
        @Model.ImageItem.Image1.Render()
    </div>
}
@helper RenderText()
{
    <div class="container--6">
        <div class="rich-text">@Model.RichTextItem.Text.Render()</div>
    </div>
}

<div class="container">
    @if (Model.InvertPositions)
    {
        @RenderImage()
        @RenderText()
    }
    else
    {
        @RenderText()
        @RenderImage()
    }
</div>
