@using FOS.Website.Feature.ContentBlocks.Models
@using Synthesis.FieldTypes.Interfaces
@using Synthesis.Mvc.Extensions
@using Valtech.Foundation.Helpers
@model ImageAndVideoModel

@if (Model.HeadingItem != null && Model.HeadingItem.Heading1.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
{
    @Html.Partial("~/Feature/ContentBlocks/Views/Heading.cshtml", Model)
}

@helper RenderImage(IImageField imageField)
{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <div class="editor-info">
            <p>@EncodingHelper.GetRazorViewText("Klicka på bildikonen nedanför för att lägga till en bild")</p>
        </div>
    }

    if (imageField.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <div class="media-container media-container--360">
            @imageField.Render(cssClass: "media-container__media")
        </div>
    }
}

@helper RenderVideo(ITextField videoIdField, IImageField imageField)
{
    if(videoIdField.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <div class="media-container media-container--360">
            @Html.Partial("~/Feature/ContentBlocks/Views/BaseVideo.cshtml", new VideoModel(videoIdField, imageField) { IsFullSize = false })
        </div>
    }
}

<div class="container">
    <div class="container--6">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="editor-info">
                <p><strong>@EncodingHelper.GetRazorViewText("Välj innehåll för vänster kolumn")</strong></p>
            </div>
        }

        @RenderImage(Model.ImageAndVideoItem.LeftImage)
        @RenderVideo(Model.ImageAndVideoItem.LeftVideo, Model.ImageAndVideoItem.LeftVideoStartImage)
    </div>
    <div class="container--6">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="editor-info">
                <p><strong>@EncodingHelper.GetRazorViewText("Välj innehåll för höger kolumn")</strong></p>
            </div>
        }

        @RenderImage(Model.ImageAndVideoItem.RightImage)
        @RenderVideo(Model.ImageAndVideoItem.RightVideo, Model.ImageAndVideoItem.RightVideoStartImage)
    </div>
</div>
